/Priority Queue/bin
/Priority Queue/obj
/Priority Queue Tests/bin
/Priority Queue Tests/obj
/Priority Queue Example/bin
/Priority Queue Example/obj
/Priority Queue UWP/bin
/Priority Queue UWP/obj
*.user
*.suo
/packages/
/Priority Queue/*.nupkg