<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BenchmarkDotNet" version="0.10.8" targetFramework="net46" />
  <package id="BenchmarkDotNet.Core" version="0.10.8" targetFramework="net46" />
  <package id="BenchmarkDotNet.Toolchains.Roslyn" version="0.10.8" targetFramework="net46" />
</packages>